<h1>Editing campaign</h1>

<% form_for(@campaign) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :soundcloud_user_id %><br />
    <%= f.text_field :soundcloud_user_id %>
  </p>
  <p>
    <%= f.label :track_url %><br />
    <%= f.text_field :track_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @campaign %> |
<%= link_to 'Back', campaigns_path %>